{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <h2 class="form-signin-heading text-center">检索作者</h2>

                    <div class="form-group">
                        <label for="id_name" class="col-md-3 control-label">作者姓名：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="name" id="id_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p>若点击“搜索”后仍返回此页面，则表示检索失败。请确保填写格式符合上述要求！</p>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}

    <h1>作者一览表</h1>
    {% if all_authors %}
    <ul>

      {% for author in all_authors %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>没有了，没有作者了！</p>
    {% endif %}


{% endblock %}