{% extends 'base.html' %}
{% block title %}<h1 class="my-con1">作者信息</h1>{% endblock %}

{% block content %}
    <div class="body">
        <h2 class="title-style">作者基本信息</h2>
        <ul class="b1">
        <li>作者姓名：{{ author.name }}</li>
        </ul>

        <a href="{% url 'author_update' author.id %}" class="m1">编辑信息</a>

        <h2 class="title-style">著作</h2>
        <ul class="b1">
        {% for book in author_books %}
        <li>
          <a href="{{ book.get_absolute_url }}">{{ book.name }}</a> ({{ book.get_author }})
        </li>
        {% empty %}
        <li>
            没有了，没有此人的著作了！
        </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}