{% extends "base.html" %}

{% block content %}

<form method="POST" role="form" class="form-inline">
{% csrf_token %}

  <div class="form-group">
    <label for="id_ISBN">ISBN：</label>
    <input type="text" class="form-control" id="id_ISBN" name="ISBN" placeholder="请输入13位纯数字">
  </div>
  <div class="form-group">
    <label for="id_name">书名：</label>
    <input type="text" class="form-control" id="id_name" name="name">
  </div>
  <div class="form-group">
    <label for="id_author">作者：</label>
    <input type="text" class="form-control" name="author" id="id_author" placeholder="多位作者间用中文逗号隔开">
  </div>
  <div class="form-group">
    <label for="id_language">语言：</label>
    <input type="text" class="form-control" name="language" id="id_language">
  </div>
  <div class="form-group">
    <label for="id_publisher">出版社：</label>
    <input type="text" class="form-control" name="publisher" id="id_publisher">
  </div>
  <div class="form-group">
    <label for="id_category">类别：</label>
    <input type="text" class="form-control" name="category" id="id_category">
  </div>

  <button type="submit" class="btn btn-default">检索</button>
  <button type="reset" class="btn btn-default">重置</button>
</form>

{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}

<h1>抽象圣经一览表</h1>
{% if all_books %}

    <table class="table table-hover">
      <thead>
        <tr>
            <th>编号</th>
            <th>书名</th>
            <th>作者</th>
            <th>出版社</th>
            <th>类型</th>
            <th>ISBN</th>
        </tr>
      </thead>
      <tbody>
        {% for book in all_books %}
          <tr>
            <td>{{ book.id }}</td>
            <td><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></td>
            <td>{{ book.get_author }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.get_category }}</td>
            <td>{{ book.ISBN }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


{% else %}
  <p>没有了，没有抽象圣经了！</p>
{% endif %}


{% endblock %}