{% extends "base.html" %}

{% block content %}

    <form method="POST" role="form" class="form-horizontal">
        {% csrf_token %}
        <h2>检索抽象圣经</h2>

        <div class="form-group">
            <label for="id_ISBN" class="col-md-3 control-label">ISBN：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="id_ISBN" name="ISBN" placeholder="请输入13位纯数字">
            </div>
        </div>

        <div class="form-group">
            <label for="id_name" class="col-md-3 control-label">书名：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="id_name" name="name" placeholder="书名长度不得超过50个字符">
            </div>
        </div>

        <div class="form-group">
            <label for="id_author" class="col-md-3 control-label">作者：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="author" id="id_author" placeholder="多位作者间用中文逗号隔开">
            </div>
        </div>

        <div class="form-group">
            <label for="id_language" class="col-md-3 control-label">语言：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="language" id="id_language">
            </div>
        </div>

        <div class="form-group">
            <label for="id_publisher" class="col-md-3 control-label">出版社：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="publisher" id="id_publisher">
            </div>
        </div>

        <div class="form-group">
            <label for="id_category" class="col-md-3 control-label">类别：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="category" id="id_category">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn btn-primary btn-block" type="submit">搜索</button>
                <button class="btn btn btn-primary btn-block" type="reset">重置</button>
            </div>
        </div>
    </form>
    <p>若点击“搜索”后仍返回此页面，则表示检索失败。请确保填写格式符合上述要求！</p>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}

    <h1>抽象圣经一览表</h1>
    {% if all_books %}

        <table class="table table-hover">
          <thead>
            <tr>
                <th>编号</th>
                <th>书名</th>
                <th>作者</th>
                <th>出版社</th>
                <th>类型</th>
                <th>ISBN</th>
            </tr>
          </thead>
          <tbody>
            {% for book in all_books %}
              <tr>
                <td>{{ book.id }}</td>
                <td><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></td>
                <td>{{ book.get_author }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.get_category }}</td>
                <td>{{ book.ISBN }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>


    {% else %}
      <p>没有了，没有抽象圣经了！</p>
    {% endif %}


{% endblock %}