{% extends 'base.html' %}

{% block content %}

    <div class="body" >
    <div style="margin-left:20px;margin-top:20px">
    <h2 class="title-style">{{ category.name }}</h2>
    <a class="btn btn-default" href="{% url 'cat_update' category.id %}" role="button">编辑信息</a>
    </div>

    <ul class="b1">
    {% if cat_books %}
    <table class="table table-hover">
      <thead>
        <tr>
            <th>编号</th>
            <th>书名</th>
            <th>作者</th>
            <th>出版社</th>
            <th>ISBN</th>
        </tr>
      </thead>
      <tbody>
        {% for book in cat_books %}
          <tr>
            <td>{{ book.id }}</td>
            <td><a href="{{ book.get_absolute_url }}">{{ book.name }}</a></td>
            <td>{{ book.get_author }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.ISBN }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    {% else %}
      <p>没有了，没有抽象圣经了！</p>
    {% endif %}
        </ul>
    </div>



{% endblock %}