{% extends 'base.html' %}

{% block content %}
    <div class="body">
    <h1>编辑图书信息</h1>
        <h2 class="title-style">可以编辑以下信息</h2>
        <p> 多位作者间用中文逗号隔开</p>
        <div class="form-wrapper">
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                    <button class="btn btn btn-primary btn-block" type="reset">重置</button>
                </div>
            </div>
            </form>
        </div>
    <a href="{% url 'related_transaction' book.id %}">取消编辑</a>
    </div>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}

{% endblock %}