{% extends "base.html" %}

{% block content %}

{% if state == 'success' %}
    <div class="well">
        <h2>添加成功</h2>
    </div>
{% endif %}
<form method="POST" role="form" class="form-inline">
    {% csrf_token %}
    <h1>添加图书</h1>

    <div class="form-group">
      <label for="id_ISBN">ISBN：</label>
      <input type="text" class="form-control" id="id_ISBN" required name="ISBN" placeholder="请输入13位纯数字">
    </div>

    <div class="form-group">
      <label for="id_name">书名：</label>
      <input type="text" class="form-control" id="id_name" required name="name" placeholder="书名长度不得超过50个字符">
    </div>

    <div class="form-group">
      <label for="id_author">作者：</label>
      <input type="text" class="form-control" required name="author" id="id_author" placeholder="多位作间用中文逗号隔开">
    </div>

    <div class="form-group">
      <label for="id_language">语言：</label>
      <input type="text" class="form-control" required name="language" id="id_language">
    </div>

    <div class="form-group">
      <label for="id_publisher">出版社：</label>
      <input type="text" class="form-control" required name="publisher" id="id_publisher">
     </div>

    <div class="form-group">
      <label for="id_category">类型：</label>
      <input type="text" class="form-control" required name="category" id="id_category" placeholder="多个类型间用中文逗号隔开">
    </div>

    <div class="form-group">
      <label for="id_cost">进价：</label>
      <input type="text" class="form-control" required name="cost" id="id_cost" placeholder="请输入0.01-999.99的至多两位小数">
    </div>

    <div class="form-group">
      <label for="id_price">零售价：</label>
      <input type="text" class="form-control" required name="price" id="id_price" placeholder="请输入0.01-999.99的至多两位小数">
    </div>

    <div class="form-group">
      <label for="id_amount">数量：</label>
      <input type="text" class="form-control" required name="amount" id="id_amount" placeholder="请输入一个正整数">
    </div>

    <div class="form-group">
      <label for="id_summary">简介：</label>
      <input type="text" class="form-control" required name="summary" id="id_summary">
    </div>

    <div class="form-group">
      <button class="btn btn-default" type="submit">添加图书</button>
      <button class="btn btn-default" type="reset">重置</button>
     </div>
</form>
<p>若点击“添加图书”后仍返回此页面，则表示进货失败。请确保填写格式符合上述要求！</p>

{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}


{% endblock %}