{% extends "base.html" %}
{% block title %}添加新书{% endblock %}

{% block content %}

    {% if state == 'success' %}
        <div class="well">
            <h2>添加成功</h2>
        </div>
    {% endif %}
    <form method="POST" role="form" class="form-horizontal">
        {% csrf_token %}
        <h1>添加图书</h1>

        <div class="form-group">
            <label for="id_ISBN" class="col-md-3 control-label">ISBN：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="id_ISBN" required name="ISBN" placeholder="请输入13位纯数字">
            </div>
        </div>

        <div class="form-group">
            <label for="id_name" class="col-md-3 control-label">书名：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="id_name" required name="name" placeholder="书名长度不得超过50个字符">
            </div>
        </div>

        <div class="form-group">
            <label for="id_author" class="col-md-3 control-label">作者：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" required name="author" id="id_author" placeholder="多位作间用中文逗号隔开">
            </div>
        </div>

        <div class="form-group">
            <label for="id_language" class="col-md-3 control-label">语言：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" required name="language" id="id_language">
            </div>
        </div>

        <div class="form-group">
            <label for="id_publisher" class="col-md-3 control-label">出版社：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" required name="publisher" id="id_publisher">
            </div>
        </div>

        <div class="form-group">
            <label for="id_category" class="col-md-3 control-label">类型：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" required name="category" id="id_category">
            </div>
        </div>

        <div class="form-group">
            <label for="id_cost" class="col-md-3 control-label">进价：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" required name="cost" id="id_cost" placeholder="请输入0.01-999.99的至多两位小数">
            </div>
        </div>

        <div class="form-group">
            <label for="id_price" class="col-md-3 control-label">零售价：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" required name="price" id="id_price" placeholder="请输入0.01-999.99的至多两位小数">
            </div>
        </div>

        <div class="form-group">
            <label for="id_amount" class="col-md-3 control-label">数量：</label>
            <div class="col-md-9">
                <input type="text" class="form-control" required name="amount" id="id_amount" placeholder="请输入一个正整数">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn btn-primary btn-block" type="submit">添加图书</button>
                <button class="btn btn btn-primary btn-block" type="reset">重置</button>
            </div>
        </div>
    </form>
    <p>若点击“添加图书”后仍返回此页面，则表示进货失败。请确保填写格式符合上述要求！</p>
    <a href="{% url 'index' %}">返回主页</a>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}


{% endblock %}