{% extends "base.html" %}

{% block content %}

    <form method="POST" role="form" class="form-inline">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_tid" class="col-md-3 control-label">交易单号：</label>
            <input type="text" class="form-control" name="tid" id="id_tid">
        </div>

        <label class="radio-inline" for="pay">
          <input type="radio" name="paid" id="icontactChoice1" value="已付款" checked> 已付款
        </label>
        <label class="radio-inline" for="ret">
          <input type="radio" name="paid" id="icontactChoice2" value="已退货" checked> 已退货
        </label>

        <div class="form-group">
                <button class="btn btn-default" type="submit">执行</button>
                <button class="btn btn-default" type="reset">重置</button>
        </div>
    </form>
    <p>若点击“执行”后仍返回此页面，则表示检索失败。请确保填写格式符合上述要求！</p>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}

    <h1>未付款交易记录一览表</h1>
    {% if up_trans %}
    <ul>

      {% for tran in up_trans %}
      <li>
        <p>交易单号：{{ tran.id }}</p>
        <p>商品信息：{{ tran.book }}</p>
        <p>交易时间：{{ tran.time|date:'Y 年 M d 日 H:i' }}</p>
        <p>进货出货：{{ tran.in_out }}</p>
        <p>交易数量：(本){{ tran.amount }}</p>
        <p>成交价格：{{ tran.cost }}</p>
        <p>付款状态：{{ tran.paid }}</p>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>没有了，没有未付款的订单了！</p>
    {% endif %}


{% endblock %}