{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <form method="POST" role="form" class="form-horizontal">
                    {% csrf_token %}
                    <h2 class="form-signin-heading text-center">修改订单状态</h2>

                    <div class="form-group">
                        <label for="id_tid" class="col-md-3 control-label">交易单号：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="tid" id="id_tid">
                        </div>
                    </div>

                    <div class="form-group">
                        <p>修改订单状态为：</p>
                        <input type="radio" class="form-control" name="paid" id="contactChoice1" value="已付款" checked>
                        <label for="pay" class="col-md-3 control-label">已付款</label>
                        <input type="radio" class="form-control" name="paid" id="contactChoice2" value="已退货" checked>
                        <label for="ret" class="col-md-3 control-label">已退货</label>
                    </div>

                    <p></p>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">执行</button>
                            <button class="btn btn btn-primary btn-block" type="reset">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p>若点击“执行”后仍返回此页面，则表示检索失败。请确保填写格式符合上述要求！</p>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}

    <h1>未付款交易记录一览表</h1>
    {% if up_trans %}
    <ul>

      {% for tran in up_trans %}
      <li>
        <p>交易单号：{{ tran.id }}</p>
        <p>商品信息：{{ tran.book }}</p>
        <p>交易时间：{{ tran.time|date:'Y 年 M d 日 H:i' }}</p>
        <p>进货出货：{{ tran.in_out }}</p>
        <p>交易数量：(本){{ tran.amount }}</p>
        <p>成交价格：{{ tran.cost }}</p>
        <p>付款状态：{{ tran.paid }}</p>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>没有了，没有未付款的订单了！</p>
    {% endif %}


{% endblock %}