{% extends 'base.html' %}

{% block content %}
    <div class="body">
        <h2 class="title-style">用户信息</h2>
        <ul class="b1">
        <li>用户名：{{ admin.user.username }}</li>
        <li>邮箱：{{ admin.user.email }}</li>
        <li>姓名：{{ admin.name }}</li>
        <li>年龄：{{ admin.age }}</li>
        <li>性别：{{ admin.gender }}</li>
        <li>住址：{{ admin.address }}</li>
        </ul>
        <p>联系方式：</p>
        <ul>
            {% for phone in phones %}
            <li>
                {{ phone.number }}
            </li>
            {% empty %}
            <li>
                没有了，没有此人的电话号码了！
            </li>
            {% endfor %}
        </ul>

        <a class="btn btn-default" href="{% url 'profile_update' user.id %}" role="button">编辑信息</a>

        <h2>负责订单</h2>

    <table class="table table-hover">
      <thead>
        <tr>
            <th>交易单号</th>
            <th>商品信息</th>
            <th>交易时间</th>
            <th>货物流向</th>
            <th>交易数量</th>
            <th>成交价格</th>
            <th>付款状态</th>
            <th>负责人</th>
        </tr>
      </thead>
      <tbody>
        {% for trans in res_trans %}
          <tr>
            <td>{{ trans.id }}</td>
            <td>{{ trans.book }}</td>
            <td>{{ trans.time|date }}</td>
            <td>{{ trans.in_out }}</td>
            <td>{{ trans.amount }}</td>
            <td>{{ trans.cost }}</td>
            <td>{{ trans.paid }}</td>
            <td>{{ trans.ruler }}</td>
          </tr>
        {% empty %}
          <li>暂无交易记录！</li>
        {% endfor %}
      </tbody>
    </table>
    </div>



{% endblock %}