{% extends 'base.html' %}
{% block title %}<h1 class="my-con1">出版社信息</h1>{% endblock %}

{% block content %}
    <div class="body">
        <h2 class="title-style">出版社基本信息</h2>
        <ul class="b1">
        <li>出版社名称：{{ publisher.name }}</li>
        </ul>

        <a href="{% url 'profile_update' user.id %}" class="m1">编辑信息</a>

        <h2 class="title-style">出版图书</h2>
        <ul class="b1">
        {% for book in published_books %}
        <li>
          <a href="{{ book.get_absolute_url }}">{{ book.name }}</a> ({{book.author}})
        </li>
        {% empty %}
        <li>
            没有了，没有此人负责的订单了！
        </li>
        {% endfor %}
        </ul>
    </div>



{% endblock %}