{% extends "base.html" %}

{% block content %}
  <div style="margin-left:20px;margin-top:20px">

    <h1>《{{ book.name }}》</h1>

    <p><strong>作者：</strong> {{ book.get_author }}</p>
    <p><strong>ISBN：</strong> {{ book.ISBN }}</p>
    <p><strong>语言：</strong> {{ book.language }}</p>
    <p><strong>出版社：</strong> {{ book.publisher.name }}</p>
    <p><strong>类型：</strong> {{ book.get_category }}</p>
    <p><strong>库存量：</strong> {{ book.inventory }}</p>
    <p><strong>售价：</strong> {{ book.price }}</p>
    <p><strong>简介：</strong>{{ book.summary }}</p>

    <a class="btn btn-default" href="{% url 'editbook' book.id %}" role="button">编辑信息</a>
    <a class="btn btn-default" href="{% url 'addbook' book.id %}" role="button">补充库存</a>
    <a class="btn btn-default" href="{% url 'sellbook' book.id %}" role="button">销售图书</a>

    <h2>相关交易记录：</h2>

    <table class="table table-hover">
      <thead>
        <tr>
            <th>交易单号</th>
            <th>交易时间</th>
            <th>货物流向</th>
            <th>交易数量</th>
            <th>成交价格</th>
            <th>付款状态</th>
            <th>负责人</th>
        </tr>
      </thead>
      <tbody>
        {% for trans in related_transaction %}
          <tr>
            <td>{{ trans.id }}</td>
            <td>{{ trans.time|date }}</td>
            <td>{{ trans.in_out }}</td>
            <td>{{ trans.amount }}</td>
            <td>{{ trans.cost }}</td>
            <td>{{ trans.paid }}</td>
            <td>{{ trans.ruler }}</td>
          </tr>
        {% empty %}
          <li>暂无此书的交易记录！</li>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}