{% extends "base.html" %}

{% block content %}

    <form method="POST" role="form" class="form-horizontal">
        {% csrf_token %}
        <h2 class="form-signin-heading text-center">检索抽象圣经交易记录</h2>
        <p><strong>注意：</strong>起始时间和结束时间都是必填项；日期视作当天00:00</p>

        <div class="form-group">
            <label for="id_start_time" class="col-md-3 control-label">起始时间：</label>
            <div class="col-md-9">
                <input type="date" class="form-control" id="id_start_time" name="start_time">
            </div>
        </div>

        <div class="form-group">
            <label for="id_end_time" class="col-md-3 control-label">结束时间：</label>
            <div class="col-md-9">
                <input type="date" class="form-control" id="id_end_time" name="end_time">
            </div>
        </div>

        <div class="form-group">
            <p>订单状态：</p>
            <input type="radio" class="form-control" name="stat" id="contactChoice1" value="进货" checked>
            <label for="in" class="col-md-3 control-label">进货</label>
            <input type="radio" class="form-control" name="stat" id="contactChoice2" value="出货" checked>
            <label for="out" class="col-md-3 control-label">出货</label>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn btn-primary btn-block" type="submit">搜索</button>
                <button class="btn btn btn-primary btn-block" type="reset">重置</button>
            </div>
        </div>
    </form>
    <p>若点击“搜索”后仍返回此页面，则表示检索失败。请确保填写格式符合上述要求！</p>


    <h2 class="form-signin-heading text-center">交易记录列表</h2>
    <a class="btn btn-default" href="{% url 'payment' %}" role="button">更改进货订单状态</a>
    {% if transactions %}

    <table class="table table-hover">
      <thead>
        <tr>
            <th>交易单号</th>
            <th>商品信息</th>
            <th>交易时间</th>
            <th>货物流向</th>
            <th>交易数量</th>
            <th>成交价格</th>
            <th>付款状态</th>
            <th>负责人</th>
        </tr>
      </thead>
      <tbody>
        {% for trans in transactions %}
          <tr>
            <td>{{ trans.id }}</td>
            <td>{{ trans.book }}</td>
            <td>{{ trans.time|date }}</td>
            <td>{{ trans.in_out }}</td>
            <td>{{ trans.amount }}</td>
            <td>{{ trans.cost }}</td>
            <td>{{ trans.paid }}</td>
            <td>{{ trans.ruler }}</td>
          </tr>
        {% empty %}
          <li>暂无交易记录！</li>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
      <p>居然没人买抽象圣经？在？道个歉？</p>
    {% endif %}       
{% endblock %}