{% extends "base.html" %}

{% block content %}

    <form method="POST" role="form" class="form-horizontal">
        {% csrf_token %}
        <h2 class="form-signin-heading text-center">检索抽象圣经交易记录</h2>
        <p><strong>注意：</strong>起始时间和结束时间都是必填项；日期视作当天00:00</p>

        <div class="form-group">
            <label for="id_start_time" class="col-md-3 control-label">起始时间：</label>
            <div class="col-md-9">
                <input type="date" class="form-control" id="id_start_time" name="start_time">
            </div>
        </div>

        <div class="form-group">
            <label for="id_end_time" class="col-md-3 control-label">结束时间：</label>
            <div class="col-md-9">
                <input type="date" class="form-control" id="id_end_time" name="end_time">
            </div>
        </div>

        <div class="form-group">
            <p>订单状态：</p>
            <input type="radio" class="form-control" name="stat" id="contactChoice1" value="进货" checked>
            <label for="in" class="col-md-3 control-label">进货</label>
            <input type="radio" class="form-control" name="stat" id="contactChoice2" value="出货" checked>
            <label for="out" class="col-md-3 control-label">出货</label>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn btn-primary btn-block" type="submit">搜索</button>
                <button class="btn btn btn-primary btn-block" type="reset">重置</button>
            </div>
        </div>
    </form>
    <p>若点击“搜索”后仍返回此页面，则表示检索失败。请确保填写格式符合上述要求！</p>

    <h2>未付款订单付款或退货</h2>
    <a href="{% url 'payment' %}">去付款/退货</a>
    <h2>抽象圣经交易记录一览表</h2>

    {% if transactions %}
    <ul>

      {% for tran in transactions %}
      <li>
        <p>交易单号：{{ tran.id }}</p>
        <p>商品信息：<a href="{{ tran.book.get_absolute_url }}">{{ tran.book }}</a></p>
        <p>交易时间：{{ tran.time|date:'Y 年 M d 日 H:i' }}</p>
        <p>进货出货：{{ tran.in_out }}</p>
        <p>交易数量：(本){{ tran.amount }}</p>
        <p>成交价格：{{ tran.cost }}</p>
        <p>付款状态：{{ tran.paid }}</p>
        <p>负责人：{{ tran.ruler }}</p>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>居然没人买抽象圣经？在？道个歉？</p>
    {% endif %}       
{% endblock %}