<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>抽象书城不欢迎您！</title>
  {% block title %}<title>抽象书城不欢迎你！</title>{% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{% url 'index' %}">主页</a></li>
        <li role="presentation"><a href="{% url 'books' %}">图书</a></li>
        <li role="presentation"><a href="{% url 'transactions' %}">交易记录</a></li>
        <li role="presentation"><a href="{% url 'publishers' %}">出版社</a></li>
        <li role="presentation"><a href="{% url 'authors' %}">作者</a></li>
        <li role="presentation"><a href="{% url 'categories' %}">出版物类型</a></li>

    </ul>
    {% block sidebar %}
      {% if user.is_authenticated %}
        <li>当前用户: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">注销</a></li>
        <li><a href="{% url 'profile' user.id %}?next={{request.path}}">查看当前用户信息</a></li>
        <li><a href="{% url 'newbook' %}?next={{request.path}}">增添新书</a></li>
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">前往登录界面</a></li>
      {% endif %}
    {% endblock %}

      {% block content %}{% endblock %}
</body>
</html>